body {
    font-family: arial;
    background-color: #c2d6d6;
}

* {
    box-sizing: border-box;
}

#head {
    margin: 0 0 0 190px;
}

#span {
    color: white;
}

.first {
    margin: 30px 190px 100px 190px;
    border: 2px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: pulse;
    animation-duration: 1s;
    animation-direction: alternate;
    min-width: 300px;
}

.second {
    background-color: #6da3a3;
    width: 30%;
    min-width: 190px;
}

.third {
    background-color: #e8f7f7;
    padding: 20px;
    width: 70%;
    min-width: 190px;
}

.data {
    display: flex;
    flex-direction: row;
}

.form {
    display: flex;
    flex-direction: column;
}

#nameEmail {
    margin: 2px 0;
    display: flex;
    padding-right: 10px;
    flex-direction: column;
    border-radius: 4px;
    box-sizing: border-box;
    min-width: 50%;
}

#email {
    margin-top: 18px;
}

#phone {
    margin-top: 18px;
}

#comPhone {
    margin: 2px 0 0 0;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-sizing: border-box;
    min-width: 50%;
}

input {
    padding: 10px 40px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 100%;
}

#submit {
    background-color: #75a3a3;
    color: white;
    padding: 10px 20px;
    margin: 22px 0;
    border: none;
    cursor: pointer;
}

#submit:hover {
    background-color: #334d4d;
}

#area {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
}

#textArea {
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#contact {
    background-color: #75a3a3;
    padding: 10px;
    min-width: 190px;
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@media screen and (max-width: 768px) {
    #head {
        text-align: center;
        margin: 0;
    }

    .first {
        display: flex;
        flex-direction: column;
        margin: 30px 20px 100px 20px;
    }

    .second {
        width: 100%;
        margin: 0;
    }

    .third {
        width: 100%;
        margin: 0;
    }

    #contact {
        text-align: center;
    }
}

@media screen and (max-width: 420px) {
    #head {
        text-align: center;
        margin: 0;
    }

    .first {
        display: flex;
        flex-direction: column;
        margin: 30px 0 100px 0;
    }

    .second {
        width: 100%;
        margin: 0;
    }

    .third {
        width: 100%;
        margin: 0;
    }

    #contact {
        text-align: center;
    }
}
